<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         h3{
            margin: 10px;
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {{>header}}
    <h3>Something Went Wrong! Try again letter!</h3>
</body>
</html>